
.about {
  padding: 6% 5% 0 5%;
  margin: 0;
}

.aboutSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profile2 {
  min-width: 30%;
  margin: 0;
  padding: 0 2% 0 3%;
}

.profile2 img {
  max-width: 84%;
  height: auto;
}

.intro2 {
  max-width: 40%;
  margin: 0;
  padding: 2% 2%;
}

.intro2 p {
  font-family: 'ManRope-Regular';
  margin: 0;
  font-weight: 600;
  color: #000000B0;
  font-size: 20px;
  line-height: 1.5;
}

.intro2 h1 {
  font-family: 'RobotoCondensed';
  color: #4594A8;
  font-size: 42px;
  line-height: 1.5;
}