
/* Modal Container */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

#modalImageHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.modal-content {
  max-width: 80%;
  max-height: 80%;
}

.close,
#leftButton,
#rightButton {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  cursor: pointer;
}

.close {
  top: 10px;
  right: 15px;
}

#leftButton {
  left: 15px;
}

#rightButton {
  right: 15px;
}
